.left-col {
    background-image: url(images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.form-panel{
  visibility: visible;
}

.complete-panel{
  visibility: hidden;
}

.form-wrapper{
    display: absolute;
    margin-left: 30%;
    margin-top: 25%;
}

.complete-wrapper{
  display: absolute;
  margin-right:-350%;
  margin-top: -25%;
  z-index: 10;
}

.form-control{
  border: 1.5px solid grey;
}

.input{
    margin-bottom: 25px;
}

.invalid-feedback{
  text-align: right;
  font-style: italic;
  font-size: 10px;
  margin-top:5px;
}

form-control:focus{
  border: 1.5px solid black;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
  background-image: url("images/icon-error.svg");
  }

#card-front-container{
    position: absolute;
    top: 20%;
    width: 447px;
    height: 245px;
    background-image: url("images/bg-card-front.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
  }

  #card-back-container{
    position: absolute;
    top: 50%;
    width: 447px;
    height: 245px;
    background-image: url("images/bg-card-back.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
  }

  .cardLogo{
    position:absolute;
    top: 5%;
    left:5%;
  }
  
  #cNumber{
    position:absolute;
    bottom: 20%;
    left:5%;
    color: white;
    font-size: 34px;
  }
  
  #cName{
    position:absolute;
    bottom: 0%;
    left:5%;
    color: white;
  }
  
  #cMM{
    position:absolute;
    bottom: 0%;
    right:15%;
    color: white;
  }
  
  #cYY{
    position:absolute;
    bottom: 0%;
    right:8%;
    color: white;
  }
  
  #slash{
    position:absolute;
    bottom: 0%;
    right:13%;
    color: white;
  }
  
  #cCvc{
    position:absolute;
    top: 45%;
    right:12%;
    color: white;
  }

  @media screen and (max-width: 576px) {
    .left-col {
        background-image: url(images/bg-main-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 28vh;
        margin-bottom: 20px;

    }
    #card-front-container{
        top: 140px;
        left: 1rem;
        width: 20rem;
        height: 160px;
        border-radius: 0.5em;
        z-index: 3;
      }
      #card-back-container{
        top: 40px;
        left: 3rem;
        width: 20rem;
        height: 160px;
        border-radius: 0.5em;
        z-index: 2;
      }
      .form-wrapper{
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 30%;
    }
    .complete-wrapper{
      display: absolute;
      margin-right:0%;
      margin-top: -100%;
      z-index: 10;
    }
    #cNumber{
      font-size: 28px;
    }
  }

    @media screen and (min-width: 667px) and (max-width: 915px) {
    .left-col {
        background-image: url(images/bg-main-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 58vh;
        margin-bottom: 20px;

    }
    #card-front-container{
        top: 140px;
        left: 210px;
        width: 20rem;
        height: 160px;
        border-radius: 0.5em;
        z-index: 3;
      }
      #card-back-container{
        top: 40px;
        left: 280px;
        width: 20rem;
        height: 160px;
        border-radius: 0.5em;
        z-index: 2;
      }
      .form-wrapper{
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%;
    }
    .complete-wrapper{
      display: absolute;
      margin-right:-200%;
      margin-top: -35%;
      z-index: 10;
    }
    #cNumber{
      font-size: 28px;
    }
  }

 